html, body, *{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-image: url(media/forest.jpg);
    font-family: 'Caveat', cursive;
}
.header1{
    text-align: center;
    font-size: 6.5rem;
    color: #443742;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EDF4ED;
    border: 5px solid #78BC61;
    margin-bottom: 20px;
}
.owo{
    font-size: 8rem;
    display: flex;
    justify-content: space-evenly;
}
.uwu{
    text-align: center;
    color: #443742;
    border-radius: 25px;
    background-color:#EDF4ED ;
    width: 30%;
    border: 5px solid #78BC61;

}
.flower{
    height: 35rem;
    max-width: 100%;
}
.caption{
    font-size: 2rem;
}

#pls{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100px;
}
