body{
    background-image: url(media/palm.jpg);
    font-family: 'Caveat', cursive;
}
.header1{
    text-align: center;
    margin-top: 50px;
    border: 3px solid red;
    padding: 50px;
    background-color: bisque;
}